 .img {
    object-fit: contain;
    object-fit: cover;
}
 .firstPageText {
position: absolute;
text-align: justify;
margin-top: 1cm;
color: blanchedalmond;
font-family: EldenFont;
src: url(/assets/Fonts/Mantinia\ Regular/Regular);
}
.strengthBtn {
  text-decoration: none;

}
.dexBtn {
  text-decoration: none;
}
.Malenia {
  background-image: url(https://cdna.artstation.com/p/assets/images/images/046/303/870/large/caio-santos-dfgdfg.jpg?1644798826);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: EldenFont;

 }

.strength {
    background-image: url("/assets/Images/strength.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.strengthText {
  width: 30vw;
  height: 20vh;
  top: 20%;
  left: 30%;
  font-family: EldenFont;
  position: relative;
  text-shadow: 2px 2px white;
  
  
}

@font-face {
    font-family: EldenFont;
    src: url(/assets/Fonts/Mantinia\ Regular/Regular);
  }

.firstBtn {
position: fixed;
left: 12%;
top: 80%;
background-color: rgb(255, 255, 255);
text-decoration: none;
padding: 0px 10px;
font-size: 50px;
}

.secondBtn {
position: fixed;
left: 56%;
top: 80%;
background-color: rgb(252, 252, 252);
text-decoration: none;
padding: 0px 10px;
font-size: 50px;
}

a:link {
  color: rgb(7, 7, 7);
}
a:visited {
  color: rgb(30, 0, 161);
}
a:hover {
  color: rgb(60, 186, 29);
}
a:active {
  color: rgb(114, 114, 208);
}
